<div class="progress no-print" ng-show="env.loading==true">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0"
         aria-valuemax="100" style="width: 100%">
        <span class="sr-only">45% Complete</span>
    </div>
</div>
<div ng-show="env.loading==false">

    <ol class="breadcrumb no-print">
        <li><a href="#" ui-sref="index" translate>Home</a></li>
        <li class="active" translate>Races of All Athletes</li>
    </ol>

    <div class="page-header">
        <h1 translate>Races of All Athletes</h1>
    </div>



    <br>
    <div class="row no-print">
        <div class="col-md-3">
            <button ng-click="print()" class="btn btn-success" translate>Print</button>
            <button ng-click="export()" class="btn btn-success" translate>Export to XLS</button>

        </div>
    </div>
    <br>
    <div class="row no-print">
        <div class="col-md-2">
            <select ng-model="env.filters.season" class="form-control" ng-options="season as season for season in env.seasons">
                <option value="" translate>Select season</option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control" ng-model="env.filters.trainingPlan">
                <option value="" translate >Select Training Plan</option>
                <option value="basic" translate>Basic</option>
                <option value="pro" translate>Pro</option>
                <option value="premium" translate>Premium</option>
                <option value="elite" translate>Elite</option>
            </select>
        </div>

        <div class="col-md-2">
            <input type="text" ng-model="env.filters.username" class="form-control"
                   placeholder="{{'User Name'|translate}}">
        </div>

        <div class="col-md-2">
            <button ng-click="env.filters={}" class="btn btn-default" translate>Reset</button>
        </div>
    </div>
    <br>
    <table class="table" ng-show="env.loading==false && env.posts.length>0">
        <tr  align="center">
            <th translate>Date</th>
            <th translate>Race</th>
            <th translate>Km</th>
            <th translate>+Slope</th>
            <th translate>City</th>

            <th translate class="no-print">Name</th>
            <th translate class="no-print">Plan</th>
            <th translate class="no-print">Ranking</th>
            <th translate class="no-print">Time</th>
            <th translate class="no-print">Feelings</th>
            <th translate class="no-print">Message for the athlete</th>
            <th translate class="no-print">Action</th>
        </tr>
        <tr  align="center" ng-repeat="post in env.posts  |orderBy:'nomcursa.toData'  ">
            <td>{{ post.getCurseData() }}</td>
            <td>{{ post.get('nomcursa').get('nom') }}</td>
            <td>{{ post.get('nomcursa').get('distancia') }}</td>
            <td>{{ post.get('nomcursa').get('desnivell') }}</td>
            <td>{{ post.get('nomcursa').get('poblacio') }}</td>

            <td>{{ post.get('user').get('username') }}</td>
            <td>
                <h7 style="text-transform: uppercase">{{ post.get('user').get('trainingPlan') }}</h7>
            </td>

            <td>{{post.posabs}}</td>
            <td>{{post.temps_segons}}</td>
            <td>{{post.feelings}}</td>
            <td>

            <textarea class="form-control"
                      ng-model="post.beforeCoachComment"></textarea>
            </td>
            <td>
                <button

                        class="btn btn-primary" translate ng-click="post.saveBeforeCoachComment(post.beforeCoachComment)">
                    Save
                </button>

            </td>
        </tr>
    </table>


    <div class="jumbotron no-print" ng-show="env.loading==false && env.posts.length==0">
        <h1 translate>Ops!</h1>

        <p translate>No Races</p>
    </div>
</div>