<div class="page-sidebar navbar-collapse collapse">

    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-show="user!=null">

        

        <li class="start" ui-sref-active="active" ng-show="user.isAthlete()">
            <a ui-sref="my-goals"  >
                <i class="icon-home"></i>
                <span class="title" translate>My Goals</span>
            </a>
        </li>
        <li class="start" ui-sref-active="active" ng-show="user.isAthlete()">
            <a ui-sref="dashboard" href="dashboard"  >
                <i class="icon-energy"></i>
                <span class="title" translate>Dashboard</span>
            </a>
        </li>

        <li class="start" ui-sref-active="active" ng-show="user.isCoach()">
            <a ui-sref="my-goals"  >
                <i class="icon-energy"></i>
                <span class="title" translate>Dashboard</span>
            </a>
        </li>

        <li class="start" ui-sref-active="active">
            <a ui-sref="race" href="races" >
                <i class="icon-badge"></i>
                <span class="title" translate>Races</span>
            </a>
        </li>

        <li ng-show="user.isAthlete()" ui-sref-active="active">
            <a ui-sref="race-my" href="races/my">
                <i class="icon-trophy"></i>
                <span class="title" translate>My Races</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="tips"  >
                <i class="fa fa-area-chart"></i>
                <span class="title" translate>Race Tips</span>
            </a>
        </li>

        <li ng-show="user.isCoach()" ui-sref-active="active">
            <a ui-sref="race-athletes" href="races/athletes" >
                <i class="icon-trophy"></i>
                <span class="title" translate>Races of All Athletes</span>
            </a>
        </li>
        <li ui-sref-active="active" ng-show="!user.isCoach()">
            <a ui-sref="trainings" href="trainings" >
                <i class="icon-notebook"></i>
                <span class="title" translate>Trainings</span>
            </a>
        </li>
                <li ui-sref-active="active">
            <a ui-sref="feedbacks" href="races/athletes" >
                <i class="icon-speech"></i>
                <span class="title" translate>Feedbacks</span>
            </a>
        </li>
        <li ui-sref-active="active" ng-show="!user.isCoach()">
            <a ui-sref="tops" href="tops" >
                <i class="icon-graph"></i>
                <span class="title" translate>Tops</span>
            </a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="chat" href="chat" >
                <i class="icon-bubbles"></i>
                <span class="title" translate>Chat</span>
            </a>
        </li>




        <li ui-sref-active="active">
            <a ui-sref="requests" href="races/athletes" >
                <i class="icon-call-out"></i>
                <span class="title" translate>Requests</span>
            </a>
        </li>

        
        <!-- Add by kazuyou@ -->
        <li ui-sref-active="active">
            <a ui-sref="faq"  >
                <i class="icon-question"></i>
                <span class="title" translate>FAQ</span>
            </a>
        </li>
    </ul>
</div>