<ol class="breadcrumb">
    <li><a href="#" ui-sref="index" translate>Home</a></li>
    <li class="active" translate>Requests</li>
</ol>

<div class="row">
    <div class="portlet light tasks-widget">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-share font-green-haze hide"></i>
                <span class="caption-subject font-purple-seance bold uppercase" translate>Requests</span>
            </div>    
            <div class="actions">
                <button ng-show="env.user.isAthlete()" type="button" class="btn btn-success" translate ng-click="addRequest()" translate>Add New</button>

            </div>
        </div>

        <div class="row" ng-show="env.showForm">
            <div class="col-md-6">
                <form name="requestForm">
                    <div class="form-group">
                        <label>Subject</label>

                        <select
                                ng-model="model.subject"
                                class="form-control" required ng-options="subject as subject for subject in env.subjects">
                            <option value="" translate>Select subject</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                  <textarea style="height:200px"
                            placeholder="{{'You message to coach'|translate}}"
                            ng-disabled="request.fullFeedback==true" class="form-control"
                            ng-model="model.comments" required></textarea>
                    </div>

                    <div class="form-group">
                        <button ng-disabled="requestForm.$invalid || env.saving"
                                ng-click="send(model)"
                                class="btn btn-success" translate>Send
                        </button>
                        <button
                                ng-disabled="env.saving"
                                ng-click="cancelRequest()"
                                class="btn btn-danger" translate>Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="portlet-body">
            <div class="table-responsive">
                <div class="task-content">
                    <table class="table table-striped table-bordered">
                        <tr>
                            <th style="width: 1%" translate>Number</th>
                            <th style="width: 10%" translate  ng-show="env.user.isCoach()">User</th>
                            <th style="width: 10%" translate>Open Date</th>
                            <th style="width: 10%" translate>Close Date</th>
                            <th style="width: 10%" translate>Subject</th>
                            <th style="width: 30%" translate>Request</th>
                            <th style="width: 30%" translate>Coach Comments</th>
                            <th style="width: 10%" translate>Status</th>
                            <th style="width: 10%" translate>Actions</th>

                        </tr>
                        <tr align="center" ng-repeat="request in env.requests">

                            <td style="vertical-align: center">{{$index+1}}</td>
                            <td ng-show="env.user.isCoach()" style="vertical-align: center">
                                {{request.get('user').get('firstName')}} {{request.user.get('user').get('lastName')}}
                            </td>

                            <td  style="vertical-align: center">{{request.formatOpenDate}}</td>
                            <td  style="vertical-align: center">
                                <div ng-show="request.closed==true">
                                    {{request.formatEndDate}}
                                </div>
                                <div ng-show="!request.closed" translate>
                                    Request open
                                </div>
                            </td>

                            <td  style="vertical-align: center" >
                                <div ng-show="env.user.isCoach()" >
                                    {{request.subject}}
                                    <!--<select
                                            ng-disabled="request.closed==true"
                                            ng-model="request.subject"
                                            class="form-control" required ng-options="subject as subject for subject in env.subjects">
                                        <option value="" translate>Select subject</option>
                                    </select>-->
                                </div>

                                <div ng-show="env.user.isAthlete()">
                                    {{request.get('subject')}}
                                </div>
                            </td>

                            <td style="vertical-align: center">
                                <textarea
                                        ng-disabled="request.closed==true"
                                        style="height:100px" class="form-control"
                                        ng-model="request.comments"></textarea>



                            </td>

                            <td style="vertical-align: center" ng-show="env.user.isAthlete()">
                                {{ request.get('coachComment')}}
                            </td>

                            <td style="vertical-align: center" class="text-center" ng-show="env.user.isCoach()">
                                <textarea
                                        ng-disabled="request.closed==true"
                                        style="height:100px" class="form-control"
                                          ng-model="request.coachComment"></textarea>

                            </td>
                            <td ng-show="env.user.isAthlete()" style="vertical-align: center">
                                <span class="label label-danger label-sm" ng-show="request.closed==true" translate>Closed</span>
                                <span class="label label-success label-sm" ng-show="request.closed!=true" translate>Open</span>

                            </td>
                            <td ng-show="env.user.isCoach()" style="vertical-align: center">
                                <button
                                        style="width: 150px"
                                        ng-hide="request.closed==true"
                                        ng-click="closeRequest(request)"
                                        class="btn btn-danger" translate>Close
                                </button>
                                <button
                                        style="width: 150px"
                                        ng-hide="request.closed!=true"
                                        ng-click="openRequest(request)"
                                        class="btn btn-success" translate>Open
                                </button>
                            </td>

                            <td style="vertical-align: center" >
                                <button
                                        ng-disabled="request.closed==true && env.user.isAthlete()"
                                        style="width: 150px"
                                        ng-click="saveRequest(request)"
                                        class="btn btn-danger" translate>Save
                                </button>
                                <button
                                        ng-disabled="request.closed==true && env.user.isAthlete()"
                                        style="width: 150px"
                                        ng-click="deleteRequest(request)"
                                        class="btn btn-success" translate>Delete
                                </button>
                            </td>

                        </tr>

                    </table>


                </div>

            </div>

        </div>
    </div>
</div>